[submodule "polybar"]
  path = $HOME/.config/polybar
  url = git@github.com:whiteboardev/polybar.git

[submodule "wireplumber"]
  path = $HOME/.config/wireplumber
  url = git@github.com:whiteboardev/wireplumber.git

[submodule "bspwm"]
  path = $HOME/.config/bspwm
  url = git@github.com:whiteboardev/bspwm.git


[submodule "picom"]
  path = $HOME/.config/picom
  url = git@github.com:whiteboardev/picom.git

[submodule "sxhkd"]
  path = $HOME/.config/picom
  url = git@github.com:whiteboardev/picom.git
