[submodule "polybar"]
  path = ./polybar
  url = git@github.com:whiteboardev/polybar.git

[submodule "wireplumber"]
  path = ./wireplumber
  url = git@github.com:whiteboardev/wireplumber.git

[submodule "bspwm"]
  path = ./bspwm
  url = git@github.com:whiteboardev/bspwm.git

[submodule "alacritty"]
  path = ./alacritty
  url = git@github.com:whiteboardev/alacritty.git

[submodule "picom"]
  path = ./picom
  url = git@github.com:whiteboardev/picom.git

[submodule "sxhkd"]
  path = ./sxhkd
  url = git@github.com:whiteboardev/sxhkd.git
